<!-- Header -->

<div class="top-bar top-bar-dark">
    <div class="container">
        <div class="top-bar-contact">
            <div class="contact-item">
                <img src="assets/img/united-states-of-america.png" class="flags" alt="flag">
                <select>
                  <option value="1">English</option>
                  <option value="2">Germany</option>
                  <option value="3">Ukrainian</option>
              </select>
            </div>

            <div class="contact-item">
                8 800 567.890.11
            </div>

            <div class="contact-item">
                <a href="#">info@seosight.com</a>
            </div>

            <div class="contact-item">
                <span>Mon. - Fri.</span> 10:00 - 21:00
            </div>
        </div>

        <div class="login-block">
            <img src="assets/img/signin_dark.png" class="sign-in">
            <a href="#">Sign in</a>
        </div>

        <div class="follow_us">
            <span>Follow us:</span>
            <div class="socials">

                <a href="#" class="social__item">
                    <img src="assets/svg/circle-facebook.svg" alt="facebook">
                </a>

                <a href="#" class="social__item">
                    <img src="assets/svg/twitter.svg" alt="twitter">
                </a>

                <a href="#" class="social__item">
                    <img src="assets/svg/google.svg" alt="google">
                </a>

                <a href="#" class="social__item">
                    <img src="assets/svg/youtube.svg" alt="youtube">
                </a>

            </div>
        </div>

        <a href="#" class="top-bar-close" id="top-bar-close-js">
            <span></span>
            <span></span>
        </a>

    </div>
</div>

<header class="header" id="site-header">

    <div class="container">

        <div class="header-content-wrapper">

            <a href="#" id="top-bar-js" class="top-bar-link">TOPBAR</a>

            <div class="logo">
                <a href="index.html" class="full-block-link"></a>
                <img src="assets/img/logo-eye.png" alt="Seosight">
                <div class="logo-text">
                    <div class="logo-title">Seosight</div>
                    <div class="logo-sub-title">SEO, Digital Marketing</div>
                </div>
            </div>

            <nav id="primary-menu" class="primary-menu">

                <a href="javascript:void(0)" id="menu-icon-trigger" class="menu-icon-trigger showhide">
                    <span class="mob-menu--title">Menu</span>
                    <span id="menu-icon-wrapper" class="menu-icon-wrapper" style="visibility: hidden">
                      <svg width="1000px" height="1000px">
                          <path id="pathD" d="M 300 400 L 700 400 C 900 400 900 750 600 850 A 400 400 0 0 1 200 200 L 800 800"></path>
                          <path id="pathE" d="M 300 500 L 700 500"></path>
                          <path id="pathF" d="M 700 600 L 300 600 C 100 600 100 200 400 150 A 400 380 0 1 1 200 800 L 800 200"></path>
                      </svg>
                  </span>
                </a>

                <!-- menu-icon-wrapper -->

                <ul class="primary-menu-menu">
                    <li class="menu-item-has-children">
                        <a href="index.html">Home</a>
                    </li>

                    <li class="">
                        <a href="03_services.html">Services</a>
                        <ul class="dropdown">
                            <li class="megamenu-item-info">
                                <h5 class="megamenu-item-info-title">List of Services</h5>
                                <p class="megamenu-item-info-text">Choose a Service</p>
                            </li>
                            <li class="hover-ver2">
                                <a href="05_service_details_localseo.html"><i class="seoicon-pin-map"></i>
                                  Local SEO
                              </a>
                            </li>
                            <li class="hover-ver2">
                                <a href="07_service_email_marketing.html"><i class="seoicon-mail-send"></i>
                                  Email Marketing
                              </a>
                            </li>
                            <li class="hover-ver2">
                                <a href="06_service_detail.html"><i class="seoicon-chat-comment"></i>
                                  Social Media Marketing
                              </a>
                            </li>
                            <li class="menu-item-has-children hover-ver2">
                                <a href="04_service_detail_seo.html">
                                    <i class="seoicon-search"></i> Search Engine Optimization
                                </a>
                            </li>
                            <li class="hover-ver2">
                                <a href="08_service_ppc_management.html"><i class="seoicon-button"></i>
                                  Pay Per Click Management
                              </a>
                            </li>
                            <li class="menu-item-has-children hover-ver2">
                                <a href="03_services.html">
                                    <i class="seoicon-pie-graph-split"></i> Services Promo List
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="">
                        <a href="#">Case Studies</a>
                        <ul class="dropdown">
                            <li class="">
                                <a href="11_case_studies.html">
                                  Case Studies Page
                                  <i class="seoicon-right-arrow"></i>
                              </a>
                            </li>

                            <li class="">
                                <a href="12_project_details_ver_01.html">
                                  Project details ver1
                                  <i class="seoicon-right-arrow"></i>
                              </a>
                            </li>
                            <li class="">
                                <a href="13_project_details_ver_02.html">
                                  Project details ver2
                                  <i class="seoicon-right-arrow"></i>
                              </a>
                            </li>
                        </ul>
                    </li>

                    <li class="has-megamenu menu-item-has-children">
                        <a href="#">Pages</a>

                        <div class="megamenu" style="background-image: url('assets/img/menu-bg.png');">
                            <div class="megamenu-row">

                                <div class="col3">
                                    <ul>
                                        <li class="megamenu-item-info">
                                            <h5 class="megamenu-item-info-title">Standard Pages</h5>
                                            <p class="megamenu-item-info-text">Pages that every website needs.</p>
                                        </li>

                                        <li>
                                            <a href="02_abouts.html">Our Agency<i class="seoicon-right-arrow"></i></a>
                                        </li>
                                        <li>
                                            <a href="21_seo_analysis.html">SEO Analysis<i class="seoicon-right-arrow"></i></a>
                                        </li>

                                        <li>
                                            <a href="10_testimonials.html">Testimonials <i class="seoicon-right-arrow"></i></a>
                                        </li>
                                        <li>
                                            <a href="09_our_clients.html">Our Special Clients<i class="seoicon-right-arrow"></i></a>
                                        </li>
                                        <li>
                                            <a href="34_pricing-tables.html">Pricing Packages<i class="seoicon-right-arrow"></i></a>
                                        </li>
                                        <li>
                                            <a href="404.html">404 Page<i class="seoicon-right-arrow"></i></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col3">
                                    <ul>
                                        <li class="megamenu-item-info">
                                            <h5 class="megamenu-item-info-title">Features</h5>
                                            <p class="megamenu-item-info-text">Features of Our Digital Agency.</p>
                                        </li>

                                        <li>
                                            <a href="36_slider-with-photo.html">Main slider with photo<i class="seoicon-right-arrow"></i></a>
                                        </li>
                                        <li>
                                            <a href="25_navigation-flat.html">Stunning Headers<i class="seoicon-right-arrow"></i></a>
                                        </li>

                                        <li>
                                            <a href="37_navigation-with-photo.html">Sub-headers with photo<i class="seoicon-right-arrow"></i></a>
                                        </li>

                                        <li>
                                            <a href="38_photo-elements.html">Photo elements<i class="seoicon-right-arrow"></i></a>
                                        </li>

                                        <li>
                                            <a href="32_testimonials.html">Our Testimonials<i class="seoicon-right-arrow"></i></a>
                                        </li>

                                    </ul>
                                </div>
                                <div class="col3">
                                    <ul>

                                        <li class="megamenu-item-info">
                                            <h5 class="megamenu-item-info-title">Web Elements</h5>
                                            <p class="megamenu-item-info-text">Awesome header and title style variations and many more.</p>
                                        </li>

                                        <li>
                                            <a href="typography.html">Typography<i class="seoicon-right-arrow"></i></a>
                                        </li>
                                        <li>
                                            <a href="33_charts_counters.html">Charts &amp; Graphs<i class="seoicon-right-arrow"></i></a>
                                        </li>
                                        <li>
                                            <a href="buttons.html">Buttons<i class="seoicon-right-arrow"></i></a>
                                        </li>

                                        <li>
                                            <a href="28_popup-search.html">Popup Search<i class="seoicon-right-arrow"></i></a>
                                        </li>

                                    </ul>
                                </div>


                                <div class="col3">
                                    <ul>
                                        <li>
                                            <div class="google-logo">
                                                <img src="assets/img/google-logo.png" alt="logo">
                                            </div>

                                            <p class="google-text">The Yoast Analytics plugin lets you easily connect your website to Google Analytics and keep track of all your site traffic and key metrics in real-time.
                                            </p>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </li>
                    <li class="">
                        <a href="14_blog.html">Blog</a>
                    </li>
                    <li class="">
                        <a href="#">Shop</a>
                        <ul class="dropdown">
                            <li class="">
                                <a href="16_shop.html">
                                  Shop Page
                                  <i class="seoicon-right-arrow"></i>
                              </a>
                            </li>
                            <li class="">
                                <a href="17_product_details.html">
                                  Product Details
                                  <i class="seoicon-right-arrow"></i>
                              </a>
                            </li>
                            <li class="">
                                <a href="20_checkout.html">
                                  Checkout
                                  <i class="seoicon-right-arrow"></i>
                              </a>
                            </li>
                            <li class="">
                                <a href="19_cart.html">
                                  Shopping Cart
                                  <i class="seoicon-right-arrow"></i>
                              </a>
                            </li>
                        </ul>

                    </li>

                    <li class="">
                        <a href="22_contacts.html">Contacts</a>
                    </li>
                </ul>
            </nav>

            <ul class="nav-add">
                <li class="cart">

                    <a href="#" class="js-cart-animate">
                        <i class="seoicon-basket"></i>
                        <span class="cart-count">0</span>
                    </a>

                    <div class="cart-popup-wrap">
                        <div class="popup-cart">
                            <h4 class="title-cart">No products in the cart!</h4>
                            <p class="subtitle">Please make your choice.</p>
                            <div class="btn btn-small btn--dark">
                                <span class="text">view all catalog</span>
                            </div>
                        </div>
                    </div>

                </li>

                <li class="search search_main">
                    <a href="#" class="js-open-search">
                        <i class="seoicon-loupe"></i>
                    </a>
                </li>
            </ul>

            <div class="user-menu open-overlay">
                <a href="javascript:void(0);" class="user-menu-content  js-open-aside">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </div>
        </div>

    </div>

</header>
<!-- ... End Header -->

<!-- Right-menu -->

<div class="mCustomScrollbar" data-mcs-theme="dark">

    <div class="popup right-menu">

        <div class="right-menu-wrap">

            <div class="user-menu-close js-close-aside">
                <a href="#" class="user-menu-content  js-clode-aside">
                    <span></span>
                    <span></span>
                </a>
            </div>

            <div class="logo">
                <a href="index.html" class="full-block-link"></a>
                <img src="assets/img/logo-eye.png" alt="Seosight">
                <div class="logo-text">
                    <div class="logo-title">Seosight</div>
                </div>
            </div>

            <p class="text">Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius est etiam processus dynamicus.
            </p>

        </div>

        <div class="widget login">

            <h4 class="login-title">Sign In to Your Account</h4>
            <input class="email input-standard-grey" placeholder="Username or Email" type="text">
            <input class="password input-standard-grey" placeholder="Password" type="password">
            <div class="login-btn-wrap">

                <div class="btn btn-medium btn--dark btn-hover-shadow">
                    <span class="text">login now</span>
                    <span class="semicircle"></span>
                </div>

                <div class="remember-wrap">

                    <div class="checkbox">
                        <input id="remember" type="checkbox" name="remember" value="remember">
                        <label for="remember">Remember Me</label>
                    </div>

                </div>

            </div>

            <div class="helped">Lost your password?</div>
            <div class="helped">Register Now</div>

        </div>



        <div class="widget contacts">

            <h4 class="contacts-title">Get In Touch</h4>
            <p class="contacts-text">Lorem ipsum dolor sit amet, duis metus ligula amet in purus, vitae donec vestibulum enim, tincidunt massa sit, convallis ipsum.
            </p>

            <div class="contacts-item">
                <img src="assets/img/contact4.png" alt="phone">
                <div class="content">
                    <a href="#" class="title">8 800 567.890.11</a>
                    <p class="sub-title">Mon-Fri 9am-6pm</p>
                </div>
            </div>

            <div class="contacts-item">
                <img src="assets/img/contact5.png" alt="phone">
                <div class="content">
                    <a href="#" class="title">info@seosight.com</a>
                    <p class="sub-title">online support</p>
                </div>
            </div>

            <div class="contacts-item">
                <img src="assets/img/contact6.png" alt="phone">
                <div class="content">
                    <a href="#" class="title">Melbourne, Australia</a>
                    <p class="sub-title">795 South Park Avenue</p>
                </div>
            </div>

        </div>

    </div>

</div>

<!-- ... End Right-menu -->