<div class="header-spacer"></div>
<!-- Main Slider -->

<div class="container-full-width">
    <div class="swiper-container main-slider" data-effect="fade" data-autoplay="4000">

        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide bg-border-color">

                <div class="container">
                    <div class="row table-cell">

                        <div class="col-lg-12">

                            <div class="slider-content align-center">

                                <h1 class="slider-content-title" data-swiper-parallax="-100">Search Engine Optimization!
                                </h1>
                                <h5 class="slider-content-text c-gray" data-swiper-parallax="-200">Discover More About Our SEO Expertise!</h5>

                                <div class="main-slider-btn-wrap" data-swiper-parallax="-300">

                                    <a href="04_service_detail_seo.html" class="btn btn-medium btn--dark btn-hover-shadow">
                                        <span class="text">learn more</span>
                                        <span class="semicircle"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="slider-thumb" data-swiper-parallax="-400" data-swiper-parallax-duration="600">
                                <img src="assets/img/slider1.png" alt="slider">
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="swiper-slide bg-primary-color main-slider-bg-dark thumb-left">

                <div class="container table">
                    <div class="row table-cell">

                        <div class="col-lg-5 table-cell">
                            <div class="slider-content">
                                <h3 class="slider-content-title" data-swiper-parallax="-100"><span class="c-dark">Local SEO</span> is about bringing customers through your doors.</h3>
                                <h6 class="slider-content-text" data-swiper-parallax="-200">Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat eleifend option.
                                </h6>

                                <div class="main-slider-btn-wrap" data-swiper-parallax="-300">

                                    <a href="05_service_details_localseo.html" class="btn btn-medium btn--dark btn-hover-shadow">
                                        <span class="text">learn more</span>
                                        <span class="semicircle"></span>
                                    </a>

                                    <a href="05_service_details_localseo.html" class="btn btn-small btn--primary" data-swiper-parallax="-300">
                                        <span class="text">Our Services</span>
                                        <i class="seoicon-right-arrow"></i>
                                    </a>

                                </div>

                            </div>
                        </div>

                        <div class="col-lg-7 table-cell">
                            <div class="slider-thumb" data-swiper-parallax="-300" data-swiper-parallax-duration="500">
                                <img src="assets/img/slider2.png" alt="slider">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="swiper-slide bg-secondary-color main-slider-bg-dark">

                <div class="container table">
                    <div class="row table-cell">
                        <div class="col-lg-6 table-cell">

                            <div class="slider-content">

                                <h3 class="h1 slider-content-title c-dark" data-swiper-parallax="-100">Social Media Marketing Services
                                </h3>

                                <h5 class="slider-content-text" data-swiper-parallax="-200">An effective social strategy can help you grow your business, maintain your social presence and engage with the audience.
                                </h5>

                                <div class="main-slider-btn-wrap" data-swiper-parallax="-300">

                                    <a href="06_service_detail.html" class="btn btn-medium btn--dark btn-hover-shadow">
                                        <span class="text">learn more</span>
                                        <span class="semicircle"></span>
                                    </a>

                                    <a href="06_service_detail.html" class="btn btn-medium btn-border">
                                        <span class="text">GET STARTED</span>
                                        <span class="semicircle"></span>
                                    </a>

                                </div>

                            </div>

                        </div>
                        <div class="col-lg-6 table-cell">
                            <div class="slider-thumb" data-swiper-parallax="-300" data-swiper-parallax-duration="500">
                                <img src="assets/img/slider3.png" alt="slider">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="swiper-slide bg-orange-color main-slider-bg-dark">
                <div class="container table">
                    <div class="row table-cell">

                        <div class="col-lg-12">

                            <div class="slider-content align-center">
                                <h3 class="h1 slider-content-title c-dark" data-swiper-parallax="-100">Email Marketing
                                </h3>
                                <h5 class="slider-content-text" data-swiper-parallax="-200">We create tailored marketing campaigns for each segment of your audience to help advertise products and services in efforts to efficiently and effectively engage new customers.
                                </h5>

                                <div class="main-slider-btn-wrap" data-swiper-parallax="-300">

                                    <a href="07_service_email_marketing.html" class="btn btn-medium btn--dark btn-hover-shadow">
                                        <span class="text">learn more</span>
                                        <span class="semicircle"></span>
                                    </a>

                                </div>

                            </div>

                        </div>

                        <div class="col-lg-12">
                            <div class="slider-thumb" data-swiper-parallax="-400" data-swiper-parallax-duration="600">
                                <img src="assets/img/slider4.png" alt="slider">
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <div class="swiper-slide bg-green-color main-slider-bg-dark">

                <div class="container table">
                    <div class="row table-cell">

                        <div class="col-lg-6 table-cell">
                            <div class="slider-content">

                                <h3 class="h1 slider-content-title c-dark" data-swiper-parallax="-100">Pay Per Click (PPC) Management
                                </h3>

                                <h5 class="slider-content-text" data-swiper-parallax="-200">Pay Per Click has an instant impact and gives your brand a much larger reach and exposure as a result of first page exposure on major search engines.
                                </h5>

                                <div class="main-slider-btn-wrap" data-swiper-parallax="-300">

                                    <a href="08_service_ppc_management.html" class="btn btn-medium btn--dark btn-hover-shadow">
                                        <span class="text">learn more</span>
                                        <span class="semicircle"></span>
                                    </a>

                                    <a href="08_service_ppc_management.html" class="btn btn-medium btn-border btn-hover-shadow">
                                        <span class="text">GET STARTED</span>
                                        <span class="semicircle"></span>
                                    </a>

                                </div>

                            </div>
                        </div>

                        <div class="col-lg-6 table-cell">
                            <div class="slider-thumb" data-swiper-parallax="-300" data-swiper-parallax-duration="500">
                                <img src="assets/img/slider5.png" alt="slider">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!--Prev next buttons-->

        <svg class="btn-next btn-next-black">
                    <use xlink:href="#arrow-right"></use>
                </svg>

        <svg class="btn-prev btn-prev-black">
                    <use xlink:href="#arrow-left"></use>
                </svg>

        <!--Pagination tabs-->

        <div class="slider-slides">
            <a href="#" class="slides-item bg-border-color main-slider-bg-light">
                <div class="content">
                    <div class="text-wrap">
                        <h4 class="slides-title">Search Engine Optimization</h4>
                    </div>
                    <div class="slides-number">01</div>
                </div>
            </a>

            <a href="#" class="slides-item bg-primary-color">
                <div class="content">
                    <div class="text-wrap">
                        <h4 class="slides-title">Local SEO</h4>
                        <div class="slides-sub-title">Mirum est notare quam littera.</div>
                    </div>
                    <div class="slides-number">02</div>
                </div>
            </a>

            <a href="#" class="slides-item bg-secondary-color">
                <div class="content">
                    <div class="text-wrap">
                        <h4 class="slides-title">Social Media Marketing</h4>
                    </div>
                    <div class="slides-number">03</div>
                </div>
            </a>

            <a href="#" class="slides-item bg-orange-color">
                <div class="content">
                    <div class="text-wrap">
                        <h4 class="slides-title">Email Marketing</h4>
                    </div>
                    <div class="slides-number">04</div>
                </div>
            </a>

            <a href="#" class="slides-item bg-green-color">
                <div class="content">
                    <div class="text-wrap">
                        <h4 class="slides-title">Pay Per Click Management</h4>
                    </div>
                    <div class="slides-number">05</div>
                </div>
            </a>
        </div>
    </div>
</div>


<!-- ... End Main Slider -->